<app-header>
</app-header>
<!--====== Banner Inicio ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/banner/BannerContact.jpg);">
  <div class="container">
    <div class="breadcrumb-text">
      <h1 class="page-title" i18n="@@contactanosContactanos">
        Contáctanos
      </h1>
    </div>
  </div>
  <div class="breadcrumb-shapes">
    <div class="one">
    </div>
    <div class="two">
    </div>
    <div class="three">
    </div>
  </div>
</section>
<!--====== Banner Fin ======-->
<!--====== Contactanos Seccion Inicio ======-->
<section class="working-process-section">
  <div class="container">
    <div class="contact-info">
      <div class="row justify-content-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="illustration-img text-center">
            <img src="assets/img/contactanos/comunicado.jpg" alt="Image">
          </div>
        </div>
        <div class="col-lg-6 col-md-10 order-1 order-lg-2">
          <div class="contact-info-content">
            <div class="section-title left-border mb-40">
              <span class="title-tag" i18n="@@contactanosContactanosM">Contáctanos</span>
              <h2 class="title" i18n="@@tituloContactanos"> ¿Necesitas innovar? </h2>
            </div>
            <p i18n="@@contactanosPonteEnContactoConNosotro"> Ponte en contacto con nosotros para brindarte la solucion a tus problemas. </p>
          </div>
        </div>
      </div>
    </div>

    <!--====== Se incluyo tarjetas para los contactos y direcciones ======-->
    <br />
    <div id="contactos">
      <div class="container grey-bg">
        <div class="row justify-content-center">
          <div class="col-md-offset-1 col-md-10 col-sm-12 grey-bg">
            <br><br>

            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
              <article class="postcard fondo texto1 blue-reverse">
                <a class="postcard__img_link" href="javascript:void(0);">
                  <img class="postcard__img" src="assets/img/contactanos/whatsapp.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                  <h3 class="postcard__title yellow whatsapp"><a>WhatsApp</a></h3>
                  <div class="texto1 small">
                    <time datetime="2022-10-5 12:00:00">
                      <i class="fab fa-whatsapp mr-2 texto1"></i>+591 67898117
                    </time>
                  </div>
                  <div class="postcard__bar whatsapp"></div>
                  <div class="texto1" i18n="@@divContenidoWhatsApp">
                    Puedes interactuar con nosotros a través de whatsapp.

                  </div>
                  <ul class="postcard__tagbox">
                    <a href="https://wa.link/gnbgwh" target="_blank" rel="noreferrer" class="btn whatsapp" i18n="@@irWhatsapp"><i class="fab fa-whatsapp"></i> Ir a WhatsApp</a>
                  </ul>
                </div>
              </article>
            </div>

            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <article class="postcard fondo">
                <a class="postcard__img_link" href="javascript:void(0);">
                  <img class="postcard__img" src="assets/img/contactanos/email.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                  <h3 class="postcard__title yellow email" i18n="@@contactanosCorreoElectronico"><a>Correo electronico</a></h3>
                  <div class="texto1 small">
                    <time datetime="2020-05-25 12:00:00" texto1>
                      <i class="fas fa-envelope mr-2 texto1 "></i> info@qtm.bo
                    </time>
                  </div>
                  <div class="postcard__bar email"></div>
                  <div class="texto1" i18n="@@contactanosMedianteElCorreo">
                    Mediante el correo info@qtm.bo puedes consultar el servicio que desees.
                  </div>
                  <ul class="postcard__tagbox">
                    <a href="contact-project+quantum-bo-webpage-support@incoming.gitlab.com" target="_blank" rel="noreferrer" class="btn email" i18n="@@enviarCorreo"><i class="fas fa-envelope"></i> Enviar correo</a>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contactos">
      <div class="container grey-bg">

        <div class="row justify-content-center ">

          <div class="col-md-offset-1 col-md-10 col-sm-12 ">
            <div class="col-lg-offset-1 col-lg-10 section-title   " data-wow-delay="0.2s">
              <h3 class="breadcrumb-text" i18n="@@contactanosNosEncontramosEn:">NOS ENCONTRAMOS EN:</h3>
            </div>
            <br>

            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
              <article class="postcard fondo blue-reverse ">
                <a class="postcard__img_link" href="javascript:void(0);">
                  <iframe class="postcard__img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.6153933223536!2d-63.21774208596603!3d-17.809763880478247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1c2908741c0af%3A0xacf13848029f4f46!2sOriente%20Petrolero%2C%20Santa%20Cruz%20de%20la%20Sierra!5e0!3m2!1ses-419!2sbo!4v1665450636169!5m2!1ses-419!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </a>

                <div class="postcard__text t-dark">
                  <h3 class="postcard__title yellow whatsapp"><a>SANTA CRUZ</a></h3>
                  <div class="texto1 small">
                    <time datetime="2020-05-25 12:00:00">
                      <i class="far fa-map-marker-alt texto1"></i>  Ubicación
                    </time>
                  </div>
                  <div class="postcard__bar whatsapp"></div>
                  <div class="texto1" i18n="@@contactanosSanta">
                    Calle 6 # 128, B. Petrolero Sur
                    <br>
                  </div>
                </div>
              </article>
            </div>

            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <article class="postcard fondo">
                <a class="postcard__img_link" href="javascript:void(0);">
                  <iframe class="postcard__img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.221354108503!2d-68.09225418959127!3d-16.514918957501088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60127ff9c8550fcf!2zMTbCsDMwJzUzLjciUyA2OMKwMDUnMTYuOSJX!5e0!3m2!1ses-419!2sbo!4v1665453333695!5m2!1ses-419!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </a>
                <div class="postcard__text">
                  <h3 class="postcard__title yellow email"><a>LA PAZ</a></h3>
                  <div class="texto1 small">
                    <time datetime="2020-05-25 12:00:00">
                      <i class="far fa-map-marker-alt texto1" i18n="@@ubicacionContactanos"></i>  Ubicación
                    </time>
                  </div>
                  <div class="postcard__bar email"></div>
                  <div class="texto1" i18n="@@contactanosCalle15b#73,Irpava">
                    Calle 15B # 73, Irpaví
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--====== Fin de cambios ======-->

    <div class="contact-form grey-bg" style="margin-bottom: 50px; margin-top: 30px">
      <div class="row no-gutters justify-content-center">
        <div class="col-10">
          <div class="section-title text-center mb-40" style=" margin-top: 50px">
            <h2 class="title" i18n="@@contactanosAnoDudesEnHablarnos!">¡NO DUDES EN HABLARNOS!</h2>
          </div>

          <form method="POST" [formGroup]="contactanosForm" (ngSubmit)="submitForm(contactanosForm.value)">

            <div class="row">
              <div class="col-lg-4">
                <div class="input-group mb-30" >
                  <input  type="text" formControlName="nombre" name="Nombre" placeholder="Tu nombre o empresa" i18n-placeholder="@@tunombre"/>
                  <span class="icon"><i class="far fa-user-circle"></i></span>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="input-group mb-30">
                  <input type="email" formControlName="email" name="_reply_to" i18n-placeholder="@@tuemail" placeholder="Tu email">
                  <span class="icon"><i class="far fa-envelope-open"></i></span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group mb-30">
                  <input i18n-placeholder="@@tutelefono" type="text" formControlName="telefono" name="Teléfono" placeholder="Tu teléfono">
                  <span class="icon"><i class="far fa-phone"></i></span>
                </div>
              </div>
              <div class="col-12" >
                <div class="input-group textarea mb-30" >
                  <textarea name="Mensaje" formControlName="mensaje" placeholder="Tu mensaje" i18n-placeholder="@@tumensaje"></textarea>
                  <span class="icon"><i class="far fa-pencil"></i></span>
                </div>
              </div>
              <div class="col-12 text-center" style="margin-bottom: 50px">
                <button type="submit" class="main-btn" i18n="@@contactanosEnviar">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Contactanos Seccin Fin ======-->
<app-footer>
</app-footer>

