<app-header>
</app-header>
<!--====== Banner Inicio ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/banner/BannerAboutUs.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title" i18n="@@aboutus">
                Nosotros
            </h1>
        </div>
    </div>
    <div class="breadcrumb-shapes">
        <div class="one">
        </div>
        <div class="two">
        </div>
        <div class="three">
        </div>
    </div>
</section>
<!--====== Banner Fin ======-->
<!--====== Nosotros Seccion Inicio ======-->
<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img alt="Image" src="assets/img/nosotros/vertical.jpg"/>
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag" i18n="@@aboutusTitulo">
                            Nosotros
                        </span>
                        <h2 class="title" i18n="@@aboutusContenidoTitulo">
                            Servicio Profesionales
                            <br/>
                               de la Tecnologia de la Información y Comunicación
                        </h2>
                    </div>
                    <p class="mb-25" i18n="@@aboutusContenidop1">
                        Quantum es una empresa enfocada en el rubro de la Tecnología de la Información y Comunicación (TICs), que ofrece servicios especializados y de consultoría de valor al cliente por más de 10 años a nivel nacional, integrando soluciones de alta calidad tanto en el sector público como privado.
                    </p>
                    <p i18n="@@aboutusContenidop2">
                        Somos una empresa que ofrece soluciones innovadoras estableciendo alianzas estratégicas duraderas potenciando el crecimiento de nuestros clientes acorde a la evolución tecnológica emergente a nivel mundial.
                    </p>
                    <ul class="about-list">
                        <li i18n="@@aboutusContenidoLi1">
                            <i class="far fa-check">
                            </i>
                               Más 10 años de experiencia
                        </li>
                        <li i18n="@@aboutusContenidoLi2">
                            <i class="far fa-check">
                            </i>
                               Atención personalizada
                        </li>
                    </ul>

                    <a class="main-btn main-btn-3" i18n="@@aboutusContactanos" routerLink='/contactanos' ></a>

                    <button class="main-btn main-btn-3" i18n="@@aboutusContactanos" routerLink="/contactanos">

                        Contáctanos
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Nosotros Seccion Fin ======-->
<!--====== Tabs Seccion Inicio ======-->
<section class="advanced-tab section-gap">
    <div class="container">
        <div class="tab-buttons">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="active" data-toggle="tab" href="#tab-mision" i18n="@@aboutusMisionVision" id="nav-mission" role="tab">
                    Nuestra misión y visión
                </a>
                <a data-toggle="tab" href="#tab-valores" i18n="@@aboutusValores" id="nav-business" role="tab">
                    Nuestros valores
                </a>
                <a data-toggle="tab" href="#tab-historia" i18n="@@aboutusHistoria" id="nav-history" role="tab">
                    Historia de Quantum
                </a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab-mision" role="tabpanel">
                    <div class="tab-text-block left-image with-left-circle">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="block-image">
                                    <img alt="Image" src="assets/img/nosotros/tab-mision.jpg"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-10">
                                <div class="block-text">
                                    <h2 class="title" i18n="@@aboutusMision">
                                        Misión
                                    </h2>
                                    <p i18n="@@aboutusMisionp">
                                        Somos una empresa que ofrece soluciones innovadoras estableciendo alianzas estratégicas
                                                                             duraderas potenciando el crecimiento de nuestros clientes acorde a la evolución tecnológica
                                                                                emergente a nivel mundial.
                                    </p>
                                    <br/>
                                    <h2 class="title" i18n="@@aboutusVision">
                                        Visión
                                    </h2>
                                    <p i18n="@@aboutusVisionp">
                                        Apoyar a nuestros clientes en la provisión de soluciones tecnológicas vanguardistas
                                                                             que generen de valor para sus organizaciones logrando su credibilidad y confianza.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-valores" role="tabpanel">
                    <div class="tab-text-block right-image with-right-circle">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                                <div class="block-text">
                                    <h2 class="title" i18n="@@aboutusNuestrosValores">
                                        Nuestros valores
                                    </h2>
                                    <ul>
                                        <li i18n="@@aboutusValoresLi1">
                                            <i class="fas fa-check">
                                            </i>
                                               Compromiso con el éxito de nuestros clientes
                                        </li>
                                        <li i18n="@@aboutusValoresLi2">
                                            <i class="fas fa-check">
                                            </i>
                                               Ética incuestionable
                                        </li>
                                        <li i18n="@@aboutusValoresLi3">
                                            <i class="fas fa-check">
                                            </i>
                                               Responsabilidad
                                        </li>
                                        <li i18n="@@aboutusValoresLi4">
                                            <i class="fas fa-check">
                                            </i>
                                               Flexibilidad y agilidad con un propósito
                                        </li>
                                        <li i18n="@@aboutusValoresLi5">
                                            <i class="fas fa-check">
                                            </i>
                                               Sentido de equipo
                                        </li>
                                        <li i18n="@@aboutusValoresLi6">
                                            <i class="fas fa-check">
                                            </i>
                                               Respeto por el individuo y por la diversidad
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                                <div class="block-image">
                                    <img alt="Image" src="assets/img/nosotros/tab-valores.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-historia" role="tabpanel">
                    <div class="tab-text-block left-image with-left-circle">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="block-image">
                                    <img alt="Image" src="assets/img/logo-quantum.png"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-10">
                                <div class="block-text">
                                    <h2 class="title" i18n="@@aboutusNuestraHistoria">
                                        Nuestra Historia
                                    </h2>
                                    <p i18n="@@aboutusNuestraHistoriaP">
                                        CommIT es una empresa enfocada en el rubro de la Tecnología de la Información y Comunicación (TICs),
                                                                             que ofrece servicios especializados y de consultoría de valor al cliente por más de 10 años a nivel nacional,
                                                                                integrando soluciones de alta calidad tanto en el sector público como privado.
                                    </p>
                                    <ul>
                                        <li i18n="@@aboutusHistoriaLi1">
                                            <i class="fas fa-check">
                                            </i>
                                               Más de 10 años de experiencia en el mercado
                                            <br/>
                                        </li>
                                        <li i18n="@@aboutusHistoriaLi2">
                                            <i class="fas fa-check">
                                            </i>
                                               Tecnologias innovadoras de vanguardia
                                            <br/>
                                        </li>
                                        <li i18n="@@aboutusHistoriaLi3">
                                            <i class="fas fa-check">
                                            </i>
                                               Expertos en Tecnologías de Información y Comunicación
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Tabs Seccion Fin ======-->
<!--====== Video Inicio ======-->
<!--  <section class="video-section-two bg-img-c" style="background-image: url(assets/img/video-bg/video-2.jpg);">
           <div class="container">
                  <div class="row align-content-center justify-content-center">
                         <div class="col-lg-10">
                                <div class="video-cont text-center">
                                       <a href="https://www.youtube.com/watch?v=fEErySYqItI"
                                              class="play-btn popup-video wow fadeInLeft" data-wow-duration="1500ms"
                                                 data-wow-delay="400ms"><i class="fas fa-play"></i></a>
                                                <h2>
                                                      Mira el video de nuestro último proyecto
                                                      </h2>
                                                     </div>
                                                    </div>
                                                </div>
                                </div>
                                <div class="line-shape-one">
                                       <img src="assets/img/lines/12.png" alt="Line">
                                </div>
                                <div class="line-shape-two">
                                       <img src="assets/img/lines/11.png" alt="Line">
                                </div>
                </section> -->
<!--====== Video Fin ======-->
<!--====== Testimonios Inicio  ======-->
<section class="testimonial-section-three no-bg">
    <div class="container">
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-10">
                <div class="testimonial-items" id="testimonialSliderThree">
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/gandhi.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider1">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Primero nos ignoran, luego se nos burlan, luego nos combaten, luego vencemos.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosMahatmaGandhi">
                                Mahatma Gandhi
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/winston.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider2">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   El éxito no es el final, el fracaso no es fatal: es el coraje para continuar lo que cuenta.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosWinstonChurchill">
                                Winston Churchill
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider3">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Los más grandes científicos son también artistas.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinstein">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/darwin.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider4">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   No son los más fuertes o los más inteligentes quienes sobrevivirán sino aquellos que manejen mejor el cambio.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosCharlesDarwin">
                                Charles Darwin
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/charles.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider5">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Un problema bien definido es un problema medio resuelto.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosCharlesKettering">
                                Charles Kettering
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/herbert.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider6">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Una fortuna de información crea una pobreza de atención.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosHerbertSimon">
                                Herbert Simon
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/musk.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider7">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Lo difícil es averiguar qué preguntas hacer, pero una vez que lo sabes, el resto es realmente fácil
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosElonMusk">
                                Elon Musk
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider8">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Si quieres viajar por el mundo y que te inviten a hablar en numerosos lugares, escribe un sistema operativo basado en Unix
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvalds">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider9">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   El software libre es como el sexo, es mejor cuando es gratis
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsD">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider10">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Si piensas que tus usuarios son idiotas, sólo los idiotas lo usarán.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsA">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider11">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Si la FSF quiere llamarlo GNU/Linux, ¿por qué debería preocuparme?. Después de todo, no tiene mucho más sentido que el llamarlo como un tipo de sombrero.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsO">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider12">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   A la vista de suficientes ojos, todos los errores resultan evidentes
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsH">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider13">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Hablar es barato. Muéstrame tu código.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsE">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/linus.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider14">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Si Microsoft alguna vez hace aplicaciones para Linux significa que gané.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosLinusTorvaldsAJ">
                                Linus Torvalds
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/musk.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider15">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Si te levantas en la mañana y piensas que el futuro va a ser mejor, es un buen día. De otra manera, no lo será
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosElonMuskC">
                                Elon Musk
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/jobs.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider16">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Muchas veces la gente no sabe lo que quiere hasta que se lo enseñas
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosSteveJobs">
                                Steve Jobs
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/darwin.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider17">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   No son los más fuertes o los más inteligentes quienes sobrevivirán sino aquellos que manejen mejor el cambio.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosCharlesDarwinQ">
                                Charles Darwin
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/jobs.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider18">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   La innovación es lo que distingue a un líder de un seguidor
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosSteveJobsM">
                                Steve Jobs
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/jobs.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider19">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Cuando se innova, se corre el riesgo de cometer errores. Es mejor admitirlo rápidamente y continuar con otra innovación
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosSteveJobsE">
                                Steve Jobs
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/jobs.jpg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider20">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   No hemos sido los primeros, pero seremos los mejores.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosSteveJobsB">
                                Steve Jobs
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider21">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Dos cosas son infinitas: la estupidez humana y el universo; y no estoy seguro de lo segundo.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinA">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider22">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Lo importante es no dejar de hacerse preguntas.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinF">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider23">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Nunca pienso en el futuro. Llega demasiado pronto.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinN">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider24">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   La mente es como un paracaídas… Solo funciona si la tenemos abierta.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinO">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider25">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Todos somos muy ignorantes. Lo que ocurre es que no todos ignoramos las mismas cosas.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinNG">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider26">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   Toda la ciencia no es más que un refinamiento del pensamiento cotidiano.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinI">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="author-thumb">
                            <img alt="image" src="assets/img/nosotros/einstein.jpeg"/>
                        </div>
                        <div class="content">
                            <p i18n="@@aboutusTestSlider27">
                                <span class="quote-top">
                                    <i class="fal fa-quote-left">
                                    </i>
                                </span>
                                   La educación es lo que queda una vez que olvidamos todo lo que aprendimos en la escuela.
                                <span class="quote-bottom">
                                    <i class="fal fa-quote-right">
                                    </i>
                                </span>
                            </p>
                        </div>
                        <div class="author">
                            <h4 i18n="@@nosotrosAlbertEinsteinB">
                                Albert Einstein
                            </h4>
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Testimonios Fin======-->
<!--====== Slider Clientes Inicio ======-->
<!--====== Slider Clientes fin ======-->
<app-footer>
</app-footer>
