<app-header></app-header>
<!--====== Banner Inicio ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/banner/bannerServSol.jpeg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 i18n="@@tituloPaginaSoluciones" class="page-title">Soluciones</h1>
              
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Banner Fin ======-->

    <!--====== Servicios Seccion Inicio======-->
    <section class="service-section grey-bg service-line-shape section-gap">
        <div class="container">
            <div class="section-title text-center both-border mb-50">
                <span i18n="@@tituloSeccionInicioSoluciones" class="title-tag">Nuestras Soluciones</span>
                <h2 i18n="@@tituloSeccionContenidoSoluciones" class="title">Tenemos las mejores soluciones <br> para innovar tu empresa</h2>
            </div>
            <div class="row service-boxes justify-content-center">
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/learning.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>IA/ML</a></h3>
                        <p i18n="@@divContenidoSolucionesRow1Col1">La inteligencia artificial y el aprendizaje automático representan una evolución importante en la informática y el procesamiento de datos que está transformando rápidamente una amplia gama de industrias. Quantum provee de herramientas y metodologías para gestionar la gran cantidad de datos que se recopilan, extraerlos para obtener información y actuar sobre esas ideas cuando se descubren</p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/big-data.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>Big Data</a></h3>
                        <p i18n="@@divContenidoSolucionesRow1Col2">Es una herramienta estratégica para abordar los datos como un activo que genera beneficios enormes, en Quantum te ayudamos a implementar una plataforma tecnológica que integre y automatice la capa de datos, con diferentes fuentes de datos y en múltiples formatos.</p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/cloud-database.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>Cloud Computing</a></h3>
                        <p i18n="@@divContenidoSolucionesRow1Col3">Variedad de servicios en Cloud Computing, como ser consolidación de servidores mediante la virtualización, implementación de cloud privada mediante OpenStack, contenedores, kubernetes, storage definido por software, infraestructura definida por software, implementación de Data Center (Servidores, Almacenamiento y Red)
                        </p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="700ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/technical-support.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>Automatización</a></h3>
                        <p i18n="@@divContenidoSolucionesRow2Col1">Quantum te ayuda a aplicar la lógica empresarial de manera automática, lo que hace que la infraestructura general sea más receptiva mediante la automatización de procesos, el procesamiento de eventos y el análisis.</p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="800ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/handshake.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>Continuidad de Negocios</a></h3>
                        <p i18n="@@divContenidoSolucionesRow2Col2">La mayoría de las organizaciones de hoy son sumamente dependientes de la tecnología de la información, pero queda claro que esta tecnología puede verse afectada por una amplia gama de incidentes potencialmente desastrosos. Éstos van desde cortes en el suministro de energía provocados por tormentas hasta la pérdida de datos causada por equivocaciones de los empleados o por criminales informáticos (Disaster Recovery, Site Recovery); Quantum SRL te da la solución.</p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="800ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/settings.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/soluciones'>DevOps</a></h3>
                        <p i18n="@@divContenidoSolucionesRow2Col3">La aplicación de la automatización moderna a su entorno de aplicaciones empresariales ayuda a su empresa a servir mejor a sus clientes, para que pueda tener éxito en la economía digital. Quantum te ayuda a generar un entorno empresarial más automatizado y eficiente.</p>
                        <a routerLink='/soluciones' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="line-one">
            <img src="assets/img/lines/12.png" alt="line-shape">
        </div>
        <div class="line-two">
            <img src="assets/img/lines/11.png" alt="line-shape">
        </div>
    </section>
    <!--====== Servicios Seccion Fin ======-->


    <!--====== Video Inicio ======-->
    <section class="video-section-two bg-img-c" style="background-image: url(assets/img/soluciones/bg-video.jpg);">
        <div class="container">
            <div class="row align-content-center justify-content-center">
                <div class="col-lg-10">
                    <div class="video-cont text-center">
                        <!-- <a href="https://www.youtube.com/watch?v=fEErySYqItI" class="play-btn popup-video"><i
                                class="fas fa-play"></i></a> -->
                        <h2 i18n="@@divVideoSoluciones">
                            Construimos soluciones a la medida de tus necesidades
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    
    </section> 
    <!--====== Video fin ======-->

    <!--====== CallTo Inicio ======-->
    <section class="cta-section">
        <div class="container">
            <div class="cta-wrap mt-negative bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span i18n="@@divCallToSolucionesSpan" class="title-tag">¿Que te parece?</span>
                                <h2 i18n="@@divCallToSolucionesTitulo" class="title">Volvamos realidad tu proyecto. Escríbenos</h2>
                            </div>
                            <a class="main-btn main-btn-5" i18n="@@divCallToSolucionesLink" routerLink='/contactanos'>Comencémos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CallTo Fin ======-->


    <app-footer></app-footer>