<app-header>
</app-header>
<!--====== Banner Inicio ======-->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/banner/BannerClientes.jpeg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title" i18n="@@portfolioClientes">
                Clientes
            </h1>
        </div>
    </div>
    <div class="breadcrumb-shapes">
        <div class="one">
        </div>
        <div class="two">
        </div>
        <div class="three">
        </div>
    </div>
</section>
<!--====== Banner Fin ======-->
<!--====== Clientes Seccion ======-->
<section class="project-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12">
        <ul class="project-nav project-isotope-filter">
          <li class="active" data-filter="*" i18n="@@portfolioTodos">
            Todos
          </li>
          <li data-filter=".item-one" i18n="@@portfolioFinancieras">
            Financieras
          </li>
          <li data-filter=".item-two" i18n="@@portfolioGubernamentales">
            Gubernamentales
          </li>
          <li data-filter=".item-seven" i18n="@@portfolioOng">
            ONG
          </li>
          <li data-filter=".item-three" i18n="@@portfolioIndustriales">
            Industriales
          </li>
          <li data-filter=".item-four" i18n="@@portfolioPetroleras">
            Petroleras
          </li>
          <li data-filter=".item-five" i18n="@@portfolioServicios">
            Servicios
          </li>
          <li data-filter=".item-six" i18n="@@portfolioTelecomunicaciones">
            Telecomunicaciones
          </li>
        </ul>
      </div>
    </div>
    <div class="row project-boxes project-isotope mt-60 justify-content-center">
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/asoban.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioAsoban">
              Asoban
            </h4>
            <p i18n="@@portfolioAsociacia3nDeBancosPrivad">
              Asociación de Bancos Privados de Bolivia
            </p>
            <h5>
              <a i18n="@@portfolioContactanos" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAns">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/BancoCentral.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioBcb">
              BCB
            </h4>
            <p i18n="@@portfolioBancoCentralDeBolivia">
              Banco Central de Bolivia
            </p>
            <h5>
              <a i18n="@@portfolioContactanosK" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsR">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/bancoganadero.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioBancoGanadero">
              Banco Ganadero
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosV" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsF">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/brinks.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioBrinks">
              BRINKS
            </h4>
            <p i18n="@@portfolioBrinksBoliviaS.a.">
              Brinks Bolivia S.A.
            </p>
            <h5>
              <a i18n="@@portfolioContactanosM" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsW">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/sanmartindeporres.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCooperativaSanMartanDePor">
              Cooperativa San Martín de Porres
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosH" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsFX">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/edv.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioEdv">
              EDV
            </h4>
            <p i18n="@@portfolioEntidadDeDepositoDeValore">
              Entidad de Deposito de Valores
            </p>
            <h5>
              <a i18n="@@portfolioContactanosB" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsG">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/fatima.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCooperativaFatimaLtda.">
              Cooperativa Fatima Ltda.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosVQ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsY">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-one">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/jesusnazareno.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCooperativaJesaosNazareno">
              Cooperativa Jesús Nazareno
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosS" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsC">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/aduana.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioAduanaNacional">
              Aduana Nacional
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosI" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsI">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/corani.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioEndeCoraniS.a.">
              ENDE Corani S.A.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosC" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsFA">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/comibol.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioComibol">
              Comibol
            </h4>
            <p i18n="@@portfolioCorporacia3nMineraDeBoliv">
              Corporación Minera de Bolivia
            </p>
            <h5>
              <a i18n="@@portfolioContactanosQ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsIY">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ende.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioEndeCorporacian">
              ENDE CORPORACIÓN
            </h4>
            <p i18n="@@portfolioEmpresaNacionalDeElectric">
              Empresa Nacional de Electricidad
            </p>
            <h5>
              <a i18n="@@portfolioContactanosZ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsV">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/tde.jpeg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioTde">
              TDE
            </h4>
            <p i18n="@@portfolioTransportadoraDeElectrici">
              Transportadora de Electricidad S.A
            </p>
            <h5>
              <a i18n="@@portfolioContactanosCF" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsYJ">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-two">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ruat.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioRuat-Bolivia">
              RUAT - Bolivia
            </h4>
            <p i18n="@@portfolioRegistroUnicoParaLaAdmini">
              Registro Unico para la Administracion Tributaria Municipal
            </p>
            <h5>
              <a i18n="@@portfolioContactanosW" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsVZ">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-seven">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/crecer.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCrecerIfd">
              CRECER IFD
            </h4>
            <p i18n="@@portfolioCraditoParaTuSalud-Crecer">
              Crédito para tu salud - Crecer IFD
            </p>
            <h5>
              <a i18n="@@portfolioContactanosD" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsA">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-seven">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/prosalud.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioProsalud">
              PROSALUD
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosF" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsH">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-three">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/friccion.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioFriccion">
              FRICCION
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosA" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsYD">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-three">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/guabira.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioGuabira">
              GUABIRA
            </h4>
            <p i18n="@@portfolioAzaocarGuabira">
              Azúcar Guabirá
            </p>
            <h5>
              <a i18n="@@portfolioContactanosZB" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsD">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-three">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/unagro.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioUnagro">
              UNAGRO
            </h4>
            <p i18n="@@portfolioPrimeraEmpresaAgroenergat">
              Primera empresa Agroenergética de Bolivia
            </p>
            <h5>
              <a i18n="@@portfolioContactanosBB" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsX">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-three">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/monterrey.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioMonterreySrl">
              Monterrey Srl
            </h4>
            <p i18n="@@portfolioMonterrey-SolucionesEnAce">
              Monterrey - Soluciones en Acero
            </p>
            <h5>
              <a i18n="@@portfolioContactanosO" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsRP">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-three">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/sofia.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioSofia">
              Sofia
            </h4>
            <p i18n="@@portfolioSofia-ProductosAlimentici">
              Sofia - Productos alimenticios
            </p>
            <h5>
              <a i18n="@@portfolioContactanosQU" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsO">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/petrobras.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioPetrobras">
              Petrobras
            </h4>
            <p i18n="@@portfolioPetra3leoBrasileiroS.a.">
              Petróleo Brasileiro S.A.
            </p>
            <h5>
              <a i18n="@@portfolioContactanosG" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsVV">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/repsol.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioRepsol,S.A.">
              Repsol, S. A.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosX" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsU">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ypfbcorp.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioYpfb">
              YPFB
            </h4>
            <p i18n="@@portfolioYacimientosPetrolaferosFi">
              Yacimientos Petrolíferos Fiscales Bolivianos
            </p>
            <h5>
              <a i18n="@@portfolioContactanosDM" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsJ">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ypfbtransporte.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioYpfbTransporte">
              YPFB Transporte
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosN" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsJS">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ypfb_refinacion.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioYpfbRefinacia3n">
              YPFB Refinación
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosFH" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsXB">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ypfb_andina.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioYpfbAndinaS.a.">
              YPFB ANDINA S.A.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosXQ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsYK">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-four">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/ypfbchaco.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioYpfbChacoS.a.">
              YPFB Chaco S.A.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosGA" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsB">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/lafuente.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioGrupoLafuente">
              Grupo Lafuente
            </h4>
            <p i18n="@@portfolioLafuenteGrupoEmpresarial">
              Lafuente Grupo Empresarial
            </p>
            <h5>
              <a i18n="@@portfolioContactanosZQ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsBK">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/cre.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCreR.l.">
              CRE R.L.
            </h4>
            <p i18n="@@portfolioCooperativaRuralDeElectri">
              Cooperativa Rural de Electrificación
            </p>
            <h5>
              <a i18n="@@portfolioContactanosGX" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsL">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/salamanca.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioBcbM">
              BCB
            </h4>
            <p i18n="@@portfolioBancoCentralDeBoliviaG">
              Banco Central de Bolivia
            </p>
            <h5>
              <a i18n="@@portfolioContactanosAI" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsM">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/hiller.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioHillerS.a.">
              Hiller S.A.
            </h4>
            <p i18n="@@portfolioHillerS.a.Divisia3nSistem">
              Hiller S.A. División Sistemas
            </p>
            <h5>
              <a i18n="@@portfolioContactanosR" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsS">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/delapaz.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioDelapaz">
              DELAPAZ
            </h4>
            <p i18n="@@portfolioLaDistribuidoraDeElectric">
              La Distribuidora de Electricidad La Paz S.A.
            </p>
            <h5>
              <a i18n="@@portfolioContactanosFU" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsAZ">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/elfec.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioElfec">
              ELFEC
            </h4>
            <p i18n="@@portfolioEmpresaDeLuzYFuerzaElactr">
              Empresa de Luz y Fuerza Eléctrica Cochabamba
            </p>
            <h5>
              <a i18n="@@portfolioContactanosWE" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsSW">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-five">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/saguapac.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioSaguapac">
              SAGUAPAC
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosZF" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsZ">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-six">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/entel.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioEntelS.a.">
              ENTEL S.A.
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosE" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsWG">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-six">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/cotas.jpg);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioCotas">
              COTAS
            </h4>
            <p i18n="@@portfolioCooperativaDeTelecomunica">
              Cooperativa de Telecomunicaciones de Santa Cruz
            </p>
            <h5>
              <a i18n="@@portfolioContactanosGG" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsT">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-six">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/tigo.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioTigo">
              Tigo
            </h4>
            <h5>
              <a i18n="@@portfolioContactanosQE" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsYX">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="isotope-item col-lg-4 col-sm-6 item-six">
        <div class="project-box hover-style">
          <div class="project-thumb">
            <div class="thumb bg-img-c logo" style="background-image: url(assets/img/project/nuevatel.png);">
            </div>
          </div>
          <div class="project-desc text-center">
            <h4 i18n="@@portfolioViva">
              Viva
            </h4>
            <p i18n="@@portfolioLaEmpresaDeTelecomunicaci">
              La Empresa de Telecomunicaciones Nuevatel PCS de Bolivia S.A.
            </p>
            <h5>
              <a i18n="@@portfolioContactanosFQ" routerLink="/contactanos">
                Contáctanos
              </a>
            </h5>
            <p i18n="@@portfolioEsperamosTuProyectoConAnsE">
              Esperamos tu proyecto con ansias
            </p>
            <a class="project-link" routerLink="/contactanos">
              <i class="fal fa-light fa-address-book">
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Clientes Seccion Fin ======-->
<!--====== CallTo Inicio ======-->
<section class="cta-aection">
  <div class="container">
    <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="cta-content text-center">
            <div class="section-title both-border mb-30">
              <span class="title-tag" i18n="@@portfolioAqueTeParece?">
                ¿Que te parece?
              </span>
              <h2 class="title" i18n="@@portfolioVolvamosRealidadTuProyect">
                Volvamos realidad tu proyecto. Escribenos
              </h2>
            </div>
            <button class="main-btn main-btn-5" i18n="@@portfolioComencemos" routerLink="/contactanos">
              Comencemos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== CallTo Fin ======-->
<!--====== Client Area Start ======-->
<!--====== Client Area End ======-->
<app-footer>
</app-footer>

