<app-header>
</app-header>
<!--====== Banner principal inicio ======-->
<section class="banner-section">
    <div class="banner-slider" id="bannerSlider">
        <div class="single-banner" style="background-image: url(assets/img/banner/banner11.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="banner-content">
                            <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s" i18n="@@homepageCloudComputing">
                                cloud computing
                            </span>
                            <h1 data-animation="fadeInUp" data-delay="1s" i18n="@@tuinformacion">
                                Tu información
                                <br/>
                                   Donde sea
                                <br/>
                                   Cuando sea
                            </h1>
                            <ul class="btn-wrap">
                                <li data-animation="fadeInLeft" data-delay="1.2s">
                                    <a class="main-btn main-btn-4" i18n="@@homepageEmpecemos" routerLink="/contactanos">
                                        Empecemos
                                    </a>
                                </li>
                                <li data-animation="fadeInRight" data-delay="1.4s">
                                    <a class="main-btn main-btn-2" i18n="@@homepageNuestrosServicios" routerLink="/servicios">
                                        Nuestros Servicios
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-shapes">
                <div class="one">
                </div>
                <div class="two">
                </div>
                <div class="three">
                </div>
                <div class="four">
                </div>
            </div>
        </div>
        <div class="single-banner" style="background-image: url(assets/img/banner/Banner2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="banner-content">
                            <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s" i18n="@@homepageSoftwareAMedida">
                                software a medida
                            </span>
                            <h1 data-animation="fadeInUp" data-delay="1s"i18n="@@solucionesamedida">
                                Soluciones
                                <br/>
                                   A medida de
                                <br/>
                                   Tus necesidades
                            </h1>
                            <ul class="btn-wrap">
                                <li data-animation="fadeInLeft" data-delay="1.2s">
                                    <a class="main-btn main-btn-4" i18n="@@homepageEmpecemosW" routerLink="/contactanos">
                                        Empecemos
                                    </a>
                                </li>
                                <li data-animation="fadeInRight" data-delay="1.4s">
                                    <a class="main-btn main-btn-2" i18n="@@homepageNuestrosServiciosN" routerLink="/servicios">
                                        Nuestros Servicios
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-shapes">
                <div class="one">
                </div>
                <div class="two">
                </div>
                <div class="three">
                </div>
                <div class="four">
                </div>
            </div>
        </div>
        <!-- Aqui comienza banner -->
        <div class="single-banner" style="background-image: url(assets/img/banner/Banner3.jpeg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="banner-content">
                            <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s" i18n="@@homepageGestia3nDeServicios">
                                gestión de servicios
                            </span>
                            <h1 data-animation="fadeInUp" data-delay="1s" i18n="@@organizamostusservicios">
                                Organizamos
                                <br/>
                                   tus servicios de manera
                                <br/>
                                   optima y eficiente
                            </h1>
                            <ul class="btn-wrap">
                                <li data-animation="fadeInLeft" data-delay="1.2s">
                                    <a class="main-btn main-btn-4" i18n="@@homepageEmpecemosWG" routerLink="/contactanos">
                                        Empecemos
                                    </a>
                                </li>
                                <li data-animation="fadeInRight" data-delay="1.4s">
                                    <a class="main-btn main-btn-2" i18n="@@homepageNuestrosServiciosE" routerLink="/servicios">
                                        Nuestros Servicios
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-shapes">
                <div class="one">
                </div>
                <div class="two">
                </div>
                <div class="three">
                </div>
                <div class="four">
                </div>
            </div>
        </div>
        <!-- Aqui finaliza banner -->
    </div>
    <!-- <div class="search-wrap">
         			<a routerLink='/' class="search-icon"><i class="far fa-search"></i></a>
      		</div> -->
</section>
<!--====== Banner principal fin ======-->
<!--====== Seccion Conocenos inicio ======-->
<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img alt="Image" src="assets/img/illustration/Conocenos.jpg"/>
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag" i18n="@@homepageConocanos">
                            Conocénos
                        </span>
                        <h2 class="title" i18n="@@servicioprofesionales">
                            Servicio Profesionales
                            <br/>
                               de la Tecnologia de la Información y Comunicación
                        </h2>
                    </div>
                    <p class="mb-25" i18n="@@homepageQuantumEsUnaEmpresaEnfoca">
                        Quantum es una empresa enfocada en el rubro de la Tecnología de la Información y Comunicación (TICs),
                     							que ofrece servicios especializados y de consultoría de valor al cliente por más de 10 años a nivel nacional,
                        							integrando soluciones de alta calidad tanto en el sector público como privado.
                    </p>
                    <p i18n="@@homepageSomosUnaEmpresaQueOfreceS">
                        Somos una empresa que ofrece soluciones innovadoras estableciendo alianzas estratégicas duraderas
                     							potenciando el crecimiento de nuestros clientes acorde a la evolución tecnológica emergente a nivel mundial
                    </p>
                    <ul class="about-list">
                        <li i18n="@@añosdeexperiencia">
                            <i class="far fa-check">
                            </i>
                               10 años de experiencia
                        </li>
                        <li i18n="@@atencion">
                            <i class="far fa-check">
                            </i>
                                Atención personalizada
                        </li>
                    </ul>
                    <a class="main-btn" i18n="@@homepageVerMas" routerLink="/nosotros"></a>

                    <button class="main-btn" i18n="@@homepageVerMas" routerLink="/nosotros">

                        Ver más
                    </button>
                      
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Conocenos Seccion fin ======-->
<!--====== Servicios Seccion inicio ======-->
<section class="service-section shape-style-one section-gap grey-bg">
    <div class="container">
        <!-- Titulo -->
        <div class="section-title text-center both-border mb-30">
            <span class="title-tag" i18n="@@homepageNuestrosServiciosI">
                Nuestros Servicios
            </span>
            <h2 class="title" i18n="@@tenemoslosmejoresservicios">
                Tenemos los mejores servicios
                <br/>
                   para innovar tu empresa
            </h2>
        </div>
        <!-- Cajas -->
        <div class="row service-boxes justify-content-center">
            <!-- Caja 1 -->
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="service-box text-center">
                    <div class="icon">
                        <img alt="Icon" src="assets/img/icons/setting.png"/>
                    </div>
                    <h3>
                        <a i18n="@@homepageSolucionesDeSoftwareAMedi" routerLink="/servicios">
                            Soluciones de Software a Medida
                        </a>
                    </h3>
                    <p i18n="@@homepageDesarrollamosSoftwareAPed">
                        Desarrollamos Software a pedido del cliente, con una amplia gamma de conocimientos por parte del backend, como ser microservicios con uso de Java
                    </p>
                    <a class="service-link" routerLink="/servicios">
                        <i class="fal fa-long-arrow-right">
                        </i>
                    </a>
                </div>
            </div>
            <!-- Fin caja 1 -->
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="service-box text-center">
                    <div class="icon">
                        <img alt="Icon" src="assets/img/icons/cloud-database.png"/>
                    </div>
                    <h3>
                        <a i18n="@@homepageGestionDeServicios" routerLink="/servicios">
                            Gestion de Servicios
                        </a>
                    </h3>
                    <p i18n="@@homepageComoDesarrolladores,Tambi">
                        Como desarrolladores, tambien nos ocupamos de organizar y gestionar dichos servicios de una manera optima y eficiente, como tambien software de uso continui del cliente, adecuandonos a sus necesidades.
                    </p>
                    <a class="service-link" routerLink="/servicios">
                        <i class="fal fa-long-arrow-right">
                        </i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInRight" data-wow-delay="800ms" data-wow-duration="1500ms">
                <div class="service-box text-center">
                    <div class="icon">
                        <img alt="Icon" src="assets/img/icons/technical-support.png"/>
                    </div>
                    <h3>
                        <a i18n="@@homepageSoporteTacnico" routerLink="/servicios">
                            Soporte Técnico
                        </a>
                    </h3>
                    <p i18n="@@homepageBrindamosANuestrosCliente">
                        Brindamos a nuestros clientes soporte técnico ante cualquier requerimiento o contingencia.
                    </p>
                    <a class="service-link" routerLink="/servicios">
                        <i class="fal fa-long-arrow-right">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dots-line">
        <img alt="Image" src="assets/img/lines/07.png"/>
    </div>
</section>
<!--====== Servicios Seccion Fin ======-->
<!--====== Seccion Video Inicio ======-->
<!-- 	<section class="video-section bg-img-c section-gap" style="background-image: url(assets/img/video-bg/videobg.jpg);">
      		<div class="container">
         			<div class="row align-items-center justify-content-between">
            				<div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
               					<div class="video-text">
                  						<div class="section-title left-border mb-30">
                     							<span class="title-tag">Mira nuestro video</span>
                     							<h2 class="title">
                        								Mira la presentación de nuestro  <br> ultimo proyecto
                     							</h2>
                  						</div>
                  						<p>
                     							Ranim ad minima veniam, quis nostrum exercitationem ullam corpsuscipit
                        							laboriosam, nisi ut aliquid exea commodi consequa turuis autem
                  						</p>
                  						<a routerLink='/contactanos' class="main-btn">¿Necesitas algún proyecto?</a>
               					</div>
            				</div>
            				<div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
               					<div class="video-btn text-md-center wow fadeInUp" data-wow-duration="1500ms"
                  						data-wow-delay="400ms">
                  						<a href='https://www.youtube.com/watch?v=iQZobAhgayA' class="play-btn popup-video">
                     							<img src="assets/img/icons/play.svg" alt="">
                     							<i class="fas fa-play"></i>
                  						</a>
               					</div>
            				</div>
         			</div>
      		</div>
      		<div class="line-shape">
         			<img src="assets/img/lines/08.png" alt="Line">
      		</div>
   	</section> -->
<!--====== Seccion video fin ======-->
<!--====== Seccion Porque Escogernos inicio ======-->
<section class="wcu-section box-style">
    <div class="container">
        <div class="wcu-inner">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="wcu-image text-center text-lg-left wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <img alt="Image" src="assets/img/logo-quantum.png"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="wcu-text">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag" i18n="@@homepageLoQueHacemos">
                                Lo que hacemos
                            </span>
                            <h2 class="title" i18n="@@porqueelegir">
                                ¿Porque elegir a
                                <br/>
                                   Quantum?
                            </h2>
                        </div>
                        <p i18n="@@homepageQuantumTeAyudaAImplementa">
                            Quantum te ayuda a implementar soluciones digitales innovadoras.
                        </p>
                        <ul class="wcu-list">
                            <li i18n="@@experienciaenelmercado">
                                <i class="far fa-check-circle">
                                </i>
                                   Más de 10 años de experiencia en el mercado
                            </li>
                            <li i18n="@@tecnologiasinnovadoras">
                                <i class="far fa-check-circle">
                                </i>
                                   Tecnologias innovadoras de vanguardia
                            </li>
                            <li i18n="@@expertosentecnologias">
                                <i class="far fa-check-circle">
                                </i>
                                   Expertos en Tecnologías de Información y Comunicación
                            </li>
                        </ul>
                        <a class="main-btn main-btn-4" i18n="@@homepageTrabajaConNosotros" routerLink="/contactanos">
                            Trabaja con nosotros
                        </a>
                    </div>
                </div>
            </div>
            <img alt="shape" class="line-shape-one" src="assets/img/lines/03.png"/>
            <img alt="shape" class="line-shape-two" src="assets/img/lines/04.png"/>
        </div>
    </div>
</section>
<!--====== Seccion Porque Escogernos fin ======-->
<!--====== Datos Seccion Inicio ======-->
<section class="fact-section grey-bg">
    <div class="container">
        <div class="fact-boxes row justify-content-between align-items-center">
            <!--====== Datos ======-->
            <div class="col-lg-3 col-6">
                <div class="fact-box text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-plan">
                        </i>
                    </div>
                    <h2 class="counter" i18n="@@homepage100">
                        100
                    </h2>
                    <p class="title" i18n="@@homepageClientesSatisfechos">
                        Clientes Satisfechos
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="fact-box text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-graphic">
                        </i>
                    </div>
                    <h2 class="counter" i18n="@@homepage200">
                        200
                    </h2>
                    <p class="title" i18n="@@homepageProyectosCompletados">
                        Proyectos Completados
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="fact-box text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-target-1">
                        </i>
                    </div>
                    <h2 class="counter" i18n="@@homepage500">
                        500
                    </h2>
                    <p class="title" i18n="@@homepageDesarrollosImplementadas">
                        Desarrollos implementadas
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="fact-box text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-teamwork">
                        </i>
                    </div>
                    <h2 class="counter" i18n="@@homepage3000">
                        3000
                    </h2>
                    <p class="title" i18n="@@homepageCapacitacionesRealizadas">
                        Capacitaciones realizadas
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Datos Seccion Fin ======-->
<!--====== Seccion Testimonios Inicio ======-->
<!-- 	<section class="testimonial-section grey-bg">
      		<div class="container">
         			<div class="row justify-content-center justify-content-lg-start">
            				<div class="col-lg-6 col-md-10 offset-lg-5">
               					<div class="section-title left-border">
                  						<span class="title-tag">Nuestros Clientes</span>
                  						<h2 class="title">Conoce el testimonio <br> de Nuestros Clientes</h2>
               					</div>
               					<div class="testimonial-items" id="testimonialSliderOne">
                  						<div class="testimonial-item">
                     							<div class="content">
                        								<p>
                           									<span class="quote-top">
                              										<i class="fas fa-quote-left"></i>
                           									</span>
                              									On the other hand we denounce with righteou indg ation and dislike men who are so
                                 									beguiled and demoraliz ed by the charms of pleasure of the moment
                           									<br>
                              									Dislike men who are so beguiled and demoraliz worlds ed by the charms of pleasure of
                                 									the moment
                           									<span class="quote-bottom">
                              										<i class="fas fa-quote-right"></i>
                           									</span>
                        								</p>
                           
                     							</div>
                     							<div class="author">
                        								<div class="thumb">
                           									<img src="assets/img/testimonial/author.png" alt="img">
                        								</div>
                        								<div class="desc">
                           									<h4>Cliente 1</h4>
                           									<span>CEO</span>
                        								</div>
                     							</div>
                  						</div>
                  						<div class="testimonial-item">
                     							<div class="content">
                        								<p>
                           									<span class="quote-top">
                              										<i class="fas fa-quote-left"></i>
                           									</span>
                              									On the other hand we denounce with righteou indg ation and dislike men who are so
                                 									beguiled and demoraliz ed by the charms of pleasure of the moment
                           									<br>
                              									Dislike men who are so beguiled and demoraliz worlds ed by the charms of pleasure of
                                 									the moment
                           									<span class="quote-bottom">
                              										<i class="fas fa-quote-right"></i>
                           									</span>
                        								</p>
                           
                     							</div>
                     							<div class="author">
                        								<div class="thumb">
                           									<img src="assets/img/testimonial/author.png" alt="img">
                        								</div>
                        								<div class="desc">
                           									<h4>Cliente 2</h4>
                           									<span>CEO</span>
                        								</div>
                     							</div>
                  						</div>
                  						<div class="testimonial-item">
                     							<div class="content">
                        								<p>
                           									<span class="quote-top">
                              										<i class="fas fa-quote-left"></i>
                           									</span>
                              									On the other hand we denounce with righteou indg ation and dislike men who are so
                                 									beguiled and demoraliz ed by the charms of pleasure of the moment
                           									<br>
                              									Dislike men who are so beguiled and demoraliz worlds ed by the charms of pleasure of
                                 									the moment
                           									<span class="quote-bottom">
                              										<i class="fas fa-quote-right"></i>
                           									</span>
                        								</p>
                           
                     							</div>
                     							<div class="author">
                        								<div class="thumb">
                           									<img src="assets/img/testimonial/author.png" alt="img">
                        								</div>
                        								<div class="desc">
                           									<h4>Cliente 3</h4>
                           									<span>CEO</span>
                        								</div>
                     							</div>
                  						</div>
               					</div>
               					<div class="testimonial-arrows row"></div>
            				</div>
         			</div>
      		</div>
         
      		<div class="testimonial-img">
         			<img src="assets/img/testimonial/persona2.jpg" alt="testimonial">
      		</div>
   	</section> -->
<!--====== Seccion Testimonios fin  ======-->
<app-footer>
</app-footer>
   
